<!-- start -->
<div class="card border-primary">

    <div class="card-body text-primary">

        <h5 class="card-title mb-4">LISTADO DEL PERSONAL</h5>

        <div *ngIf="personalIndex?.length==0" class="alert alert-info">
            No hay registro en la base de datos!
        </div>
        <div class="table-responsive" [ngStyle]="personalIndex?.length>0 ? {'display': 'block'} : {'display': 'none'}">
            <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>
                            Id</th>
                        <th>Nombres y Apellidos</th>
                        <th>Dni</th>
                        <th>RNE</th>
                        <th>Fecha Ingreso</th>
                        <th>Fecha Salida</th>
                        <th >Categoria</th>
                        <th>Especialidad</th>
                        <th >Pais</th>
                        <th >Editar
                        </th>
                        <th >Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let personal of personalIndex">
                        <td
                            >
                            <button type="button"
                                class="btn btn-success">{{personal.per_codigo}}</button>
                        </td>
                        <td>{{personal.per_nombre}} {{personal.per_ape_paterno}} {{personal.per_ape_materno}}</td>
                        <!--OTRA FORMA(formato) de dar formato-->
                        <td>{{personal.per_documento}}</td>
                        <td>{{personal.per_rne}}</td>
                        <td>{{personal.per_fec_ingreso}}</td>
                        <td>{{personal.per_fec_salida}}</td>
                        <td >{{personal.categoria.cat_nombre}}</td>
                        <td ><p *ngIf="personal.especialidad == null; else menor"> </p>
                            <ng-template #menor><p>{{personal.especialidad.esp_nombre}}</p></ng-template></td>
                        <td>{{personal.pais.pais_nombre}}</td>
                        <td *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_INFORMATICO')">
                            <!--routerLink, con dos argumentos, primero la ruta con el cual estar registrado
                                      y segundo el id del cliente-->
                            <button type="button" name="editar"
                                [routerLink]="['/personal/formulario', personal.per_codigo]"
                                class="btn btn-primary">Editar</button>
                        </td>
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <!--va pasar el objeto de la fila actual-->
                            <button type="button" name="eliminar" (click)='deleteLogico(personal)'
                                class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
