<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <!--start-->

                        <div class="card bg-dark text-white mx-auto" style="width: 50%">

                            <div class="card-header bg-primary">{{titulo}}</div>
                            <div class="form-group card-body">

                                <form #citaMedicaForm="ngForm" class="container">

                                    <div class="form-group row mb-1">
                                        <label for="programacion"
                                            class="col-form-label-sm col-sm-4 col-md-3">Programación</label>
                                        <div class="col-sm-8 pl-0 col-md-9">
                                            <input type="text" class="form-control form-control-sm mb-0"
                                                [(ngModel)]="citaMedica.programacion.consultorio.con_nombre"
                                                name="programacion" #programacion="ngModel" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-1">
                                        <label for="cit_exoneracion"
                                            class="col-form-label-sm col-sm-4 col-md-3">Cantidad
                                            Exoneración</label>
                                        <div class="col-sm-8 pl-0 col-md-9">
                                            <input type="text" class="form-control form-control-sm mb-0"
                                                [(ngModel)]="citaMedica.cit_exoneracion" name="cit_exoneracion"
                                                #cit_exoneracion="ngModel" required minlength="1"
                                                pattern="^[0-9]+([,][0-9]+)?$">
                                            <div class="alert alert-danger my-1 py-1"
                                                *ngIf="cit_exoneracion.invalid && (cit_exoneracion.dirty || cit_exoneracion.touched)">
                                                <div *ngIf="cit_exoneracion.errors.required">
                                                    <!--aca se muestra el mensaje de error solo para el Required-->
                                                    Cantidad es requerido
                                                </div>
                                                <div *ngIf="cit_exoneracion.errors.minlength">
                                                    Cantidad debe tener al menos 1 caracteres
                                                </div>
                                                <div *ngIf="cit_exoneracion.errors.pattern">
                                                    Solo valores numéricos
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div *ngIf="editar" class="form-group row mb-1"
                                        [class.has-error]="cit_estado.touched && cit_estado.invalid">
                                        <label for="cit_estado" class="control-label col-sm-4">Estado</label>
                                        <div class="col-sm-8 pl-0">
                                            <!--required-->
                                            <mat-radio-group name="cit_estado" required #cit_estado="ngModel"
                                                [(ngModel)]="citaMedica.cit_estado">
                                                <mat-radio-button class="my-1 py-0" *ngFor="let estado of estados"
                                                    name="cit_estado" [value]="estado.valor" style="margin: 10px">
                                                    {{estado.muestraValor}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <div class="alert alert-danger my-0 py-1"
                                                *ngIf="cit_estado.invalid && (cit_estado.dirty || cit_estado.touched)">
                                                <div *ngIf="cit_estado.errors.required">
                                                    <!--aca se muestra el mensaje de error solo para el Required-->
                                                    Selección de estado es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-1">
                                        <div class="col-sm-6">
                                            <button class="btn btn-primary" role="button" (click)='create()'
                                                *ngIf="!citaMedica.cit_codigo else elseBlock"
                                                [disabled]="!citaMedicaForm.form.valid">Crear</button>
                                            <ng-template #elseBlock>
                                                <button class="btn btn-primary" role="button" (click)='update()'
                                                    [disabled]="!citaMedicaForm.form.valid">Actualizar</button>
                                            </ng-template>
                                        </div>
                                    </div>

                                </form>


                            </div>
                        </div>
                        <!--end-->

                    </div>
                </div>

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>