<div class="abrir-modal animacion fadeIn" *ngIf="modalCrearcitaService.modal">

    <!--ngIf, para ver si el modal que es boolean, es verdadero.-->
    <div class="modal mt-5" tabindex="-1" role="dialog" style="display: block">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{titulo}}</h5>
            <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              
              <form #citaMedicaForm="ngForm" class="container">

                <div class="row">
                    <div class="col-sm-4 col-md-3 justify-content-end">

                    </div>
                    <div class="col-sm-8 col-md-9 justify-content-end">
                        <mat-form-field class="container-mat-form" style="width: 300px;">
                            <input type="text" placeholder="programacion" aria-label="Programacion"
                                matInput [formControl]="myControlProgramacion"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete"
                                [displayWith]="mostrarProgramacion"
                                (optionSelected)="seleccionarProgramacion($event)">
                                <mat-option
                                    *ngFor="let programacion of programacionFiltrados | async"
                                    [value]="programacion">
                                    {{programacion.consultorio.con_nombre}}
                                    {{programacion.pro_fecha}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <!--autocompleteControl.invalid, si esque no se ha añadido ningun producto para crear items-->
                        <div class="alert alert-danger"
                            *ngIf="myControlProgramacion.invalid && CuerpoForm.submitted">
                            La Programacion no puede no tener items.
                        </div>
                    </div>
                </div>
                <div *ngIf="programacionSeleccionado" class="row">
                    <div class="col-form-label-sm col-sm-3 col-md-3">Consultorio</div>
                    <div class="col-sm-5 pl-0 col-md-5">{{programacionSeleccionado.consultorio.con_nombre}}</div>
                    <div class="col-form-label-sm col-sm-2 col-md-2">Costo</div>
                    <div class="col-sm-2 pl-0 col-md-2">{{programacionSeleccionado.consultorio.con_precio}}</div>
                    <div class="col-form-label-sm col-sm-4 col-md-3">Programación</div>
                    <div class="col-sm-8 pl-0 col-md-9">{{programacionSeleccionado.pro_fecha}} {{programacionSeleccionado.pro_hora_inicio}}</div>
                </div>
                <div class="form-group row mb-1">
                    <label for="cit_exoneracion" class="col-form-label-sm col-sm-4 col-md-3">Cantidad
                        Exoneración</label>
                    <div class="col-sm-8 pl-0 col-md-9">
                        <input type="text" class="form-control form-control-sm mb-0"
                            [(ngModel)]="citaMedica.cit_exoneracion" name="cit_exoneracion"
                            #cit_exoneracion="ngModel" required minlength="1"
                            pattern="^[0-9]+([,][0-9]+)?$">
                        <div class="alert alert-danger my-1 py-1"
                            *ngIf="cit_exoneracion.invalid && (cit_exoneracion.dirty || cit_exoneracion.touched)">
                            <div *ngIf="cit_exoneracion.errors.required">
                                <!--aca se muestra el mensaje de error solo para el Required-->
                                Cantidad es requerido
                            </div>
                            <div *ngIf="cit_exoneracion.errors.minlength">
                                Cantidad debe tener al menos 1 caracteres
                            </div>
                            <div *ngIf="cit_exoneracion.errors.pattern">
                                Solo valores numéricos
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-1">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()'
                            *ngIf="!citaMedica.cit_codigo else elseBlock"
                            [disabled]="!citaMedicaForm.form.valid">Crear</button>
               
                    </div>
                </div>

            </form>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="cerrarModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>